<a href="https://colab.research.google.com/github/bidulki-99/UPDATA-DACON/blob/main/assignment_week3/DACON%203%EC%A3%BC%EC%B0%A8%20%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%cd '/content/drive/MyDrive/Colab Notebooks/타이타닉/'

/content/drive/MyDrive/Colab Notebooks/타이타닉

In [3]:
import os
print(os.getcwd())

/content/drive/MyDrive/Colab Notebooks/타이타닉

In [4]:
import pandas as pd

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
submission = pd.read_csv('./submission.csv')

In [5]:
train['Sex'] = train['Sex'].replace('male', 0)
test['Sex'] = test['Sex'].replace('male', 0)
train['Sex'] = train['Sex'].replace('female', 1)
test['Sex'] = test['Sex'].replace('female', 1)

In [6]:
train2 = train.dropna(subset = ['Embarked'])

In [7]:
import copy
train2 = train2.copy()
train2.loc[train2['Embarked'] == 'C', 'Embarked'] = 0
train2.loc[train2['Embarked'] == 'Q', 'Embarked'] = 1
train2.loc[train2['Embarked'] == 'S', 'Embarked'] = 2

In [8]:
train2['Embarked'] = train2['Embarked'].astype(int)

In [9]:
train['Embarked'] = train['Embarked'].fillna('S')
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [10]:
train.loc[train['Embarked'] == 'C', 'Embarked'] = 0
train.loc[train['Embarked'] == 'Q', 'Embarked'] = 1
train.loc[train['Embarked'] == 'S', 'Embarked'] = 2
train['Embarked'] = train['Embarked'].astype('int64')

train.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
PassengerId,1.000000,-0.005007,-0.035144,-0.042939,0.036847,-0.057527,-0.001652,0.012658,0.013128
Survived,-0.005007,1.000000,-0.338481,0.543351,-0.077221,-0.035322,0.081629,0.257307,-0.167675
Pclass,-0.035144,-0.338481,1.000000,-0.131900,-0.369226,0.083081,0.018443,-0.549500,0.162098
Sex,-0.042939,0.543351,-0.131900,1.000000,-0.093254,0.114631,0.245489,0.182333,-0.108262
Age,0.036847,-0.077221,-0.369226,-0.093254,1.000000,-0.308247,-0.189119,0.096067,-0.030394
SibSp,-0.057527,-0.035322,0.083081,0.114631,-0.308247,1.000000,0.414838,0.159651,0.068230
Parch,-0.001652,0.081629,0.018443,0.245489,-0.189119,0.414838,1.000000,0.216225,0.039798
Fare,0.012658,0.257307,-0.549500,0.182333,0.096067,0.159651,0.216225,1.000000,-0.224719
Embarked,0.013128,-0.167675,0.162098,-0.108262,-0.030394,0.068230,0.039798,-0.224719,1.000000

In [11]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [12]:
fare = pd.DataFrame(test[test['Pclass'] == 3]['Fare'].value_counts().nlargest(12))
fare = fare.reset_index()
fare

      index  Fare
0    7.7500    21
1    8.0500    17
2    7.8958    11
3    7.7750    10
4    7.2292     9
5    7.2250     9
6    8.6625     8
7    7.8542     8
8    7.8792     6
9    7.2500     5
10   7.9250     5
11  15.2458     4

In [13]:
test['Fare'] = test['Fare'].fillna('7.753825')
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [14]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(train[['Fare']])
train_fare = ss.transform(train[['Fare']])
test_fare = ss.transform(test[['Fare']])

train['Fare2'] = train_fare
test['Fare2'] = test_fare

In [15]:
data = train[['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked', 'Fare2', 'Survived']]

In [16]:
print(train['Age'].min(), train['Age'].max())

0.42 80.0

In [17]:
train['Age'].isnull().sum()

177

In [19]:
train_age_null = train[train.Age.isnull()]

In [20]:
train_first = train_age_null[train_age_null.Pclass == 1]
train_second = train_age_null[train_age_null.Pclass == 2]
train_third = train_age_null[train_age_null.Pclass == 3]

In [21]:
train_first = train_first.fillna(value = '38')
train_second = train_second.fillna(value = '30')
train_third = train_third.fillna(value = '25')

train_drop_na = train.dropna(subset = ['Age'])

train_concat = pd.concat([train_drop_na, train_first, train_second, train_third])
train = train_concat
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 888
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    object
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        362 non-null    object
 11  Embarked     891 non-null    int64
 12  Fare2        891 non-null    float64
dtypes: float64(2), int64(7), object(4)
memory usage: 97.5+ KB

In [22]:
train = train.astype({'Age': 'int'})
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 888
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        362 non-null    object
 11  Embarked     891 non-null    int64
 12  Fare2        891 non-null    float64
dtypes: float64(2), int64(8), object(3)
memory usage: 97.5+ KB

In [23]:
test_age_null = test[test.Age.isnull()]

test_first = test_age_null[test_age_null.Pclass == 1]
test_second = test_age_null[test_age_null.Pclass == 2]
test_third = test_age_null[test_age_null.Pclass == 3]

test_first = test_first.fillna(value = '38')
test_second = test_second.fillna(value = '30')
test_third = test_third.fillna(value = '25')

test_drop_na = test.dropna(subset = ['Age'])

test_concat = pd.concat([test_drop_na, test_first, test_second, test_third])
test = test_concat
test = test.astype({'Age': 'int'})
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    int64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    object
 9   Cabin        173 non-null    object
 10  Embarked     418 non-null    object
 11  Fare2        418 non-null    float64
dtypes: float64(1), int64(6), object(5)
memory usage: 42.5+ KB

In [24]:
train = train.drop(['Cabin', 'Ticket', 'PassengerId'], axis = 1)
test = test.drop(['Cabin', 'Ticket'], axis = 1)

In [25]:
train = train.drop(['Name'], axis = 1)
test = test.drop(['Name'], axis = 1)

In [26]:
X_train = train.drop('Survived', axis = 1)
y_train = train['Survived']
X_test = test.drop('PassengerId', axis = 1).copy()

X_train.head()

   Pclass  Sex  Age  SibSp  Parch     Fare  Embarked     Fare2
0       3    0   22      1      0   7.2500         2 -0.502445
1       1    1   38      1      0  71.2833         0  0.786845
2       3    1   26      0      0   7.9250         2 -0.488854
3       1    1   35      1      0  53.1000         2  0.420730
4       3    0   35      0      0   8.0500         2 -0.486337

In [34]:
test.loc[test['Embarked'] == 'C', 'Embarked'] = 0
test.loc[test['Embarked'] == 'Q', 'Embarked'] = 1
test.loc[test['Embarked'] == 'S', 'Embarked'] = 2
test['Embarked'] = test['Embarked'].astype('int64')

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 888
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    int64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
 8   Fare2     891 non-null    float64
dtypes: float64(2), int64(7)
memory usage: 69.6 KB

In [29]:
X_train = X_train.drop('Fare', axis = 1)
X_test = X_test.drop('Fare', axis = 1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 888
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    int64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Embarked  891 non-null    int64
 6   Fare2     891 non-null    float64
dtypes: float64(1), int64(6)
memory usage: 55.7 KB

In [37]:
X_test.loc[test['Embarked'] == 'C', 'Embarked'] = 0
X_test.loc[test['Embarked'] == 'Q', 'Embarked'] = 1
X_test.loc[test['Embarked'] == 'S', 'Embarked'] = 2
X_test['Embarked'] = test['Embarked'].astype('int64')

In [45]:
train = train.drop(['Fare'], axis = 1)
test = test.drop(['Fare'], axis = 1)

In [55]:
import numpy as np
import random as rnd

from sklearn.svm import SVC

# https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html

svc = SVC(gamma = 'auto')
svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

submission = pd.DataFrame({"PassengerId": test["PassengerId"],
                           "Survived": y_pred
                           })
submission.to_csv('SVM.csv', index = False)

svc.score(X_train, y_train)

0.8585858585858586

In [77]:
from sklearn.tree import DecisionTreeClassifier

# https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

dtc = DecisionTreeClassifier(splitter = 'best', max_depth = 20)
dtc.fit(X_train, y_train)

y_pred = dtc.predict(X_test)

submission = pd.DataFrame({"PassengerId": test["PassengerId"],
                           "Survived": y_pred
                           })
submission.to_csv('DecisionTree.csv', index = False)

dtc.score(X_train, y_train)

0.9809203142536476

In [86]:
from sklearn.linear_model import LogisticRegression

# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

linear_reg = LogisticRegression(n_jobs = -1, warm_start = True)
linear_reg.fit(X_train, y_train)

y_pred = linear_reg.predict(X_test)

submission = pd.DataFrame({"PassengerId": test["PassengerId"],
                           "Survived": y_pred
                           })
submission.to_csv('LogisticRegression.csv', index = False)

linear_reg.score(X_train, y_train)

0.8035914702581369

In [92]:
from sklearn.naive_bayes import GaussianNB

# https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html

gnb = GaussianNB()
gnb.fit(X_train, y_train)

y_pred = gnb.predict(X_test)

submission = pd.DataFrame({"PassengerId": test["PassengerId"],
                           "Survived": y_pred
                           })
submission.to_csv('GaussianNB.csv', index = False)

gnb.score(X_train, y_train)

0.792368125701459

In [ ]:
from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators = 500, learning_rate = 0.3, max_depth = 10)
xgb.fit(X_train, y_train)

y_pred = xgb.predict(X_test)
xgb.score(X_train, y_train)

0.9809203142536476

In [ ]:
from sklearn.model_selection import GridSearchCV
# GribSearchCV 연습 - XGB

xgb_param_grid = {
    'n_estimators': [100, 200, 300, 500, 800, 1000],
    'learning_rate': [0.01, 0.05, 0.1, 0.2, 0.3],
    'max_depth': [4, 6, 8, 10, 12]
}

xgb_grid = GridSearchCV(xgb, param_grid = xgb_param_grid, scoring = 'accuracy', n_jobs = -1, verbose = 1)
xgb_grid.fit(X_train, y_train)

y_pred = xgb_grid.predict(X_test)
xgb_grid.score(X_train, y_train)

submission = pd.DataFrame({"PassengerId": test["PassengerId"],
                           "Survived": y_pred
                           })
submission.to_csv('titanic.csv', index = False)

Fitting 5 folds for each of 150 candidates, totalling 750 fits

0.8933782267115601